html{
  scroll-behavior: smooth;
}

*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
}
.body-wrapper{
  background: linear-gradient(269.97deg, rgba(255, 255, 255, 0.0001) 0.02%, rgba(0, 0, 0, 0.55) 53.64%, rgba(0, 0, 0, 0.95) 99.98%),url(./assets/image/Components/Background_Image.png);
  /*background: linear-gradient(360deg, rgba(11, 25, 51, 0.5) 0%, rgba(11, 25, 51, 0) 100%) no-repeat, url(./assets/image/Components/Background_Image.png) no-repeat center top;*/
  background-size: cover;
  
}
.container {
  max-width: 1172px;
  width: 100%;
  /*background: burlywood;*/
  margin: 0 auto;
}
ul {
  list-style: none;
  display: flex;
}
.header-wrapper{
  display: flex;
  flex-direction: column;
}
 .header-wrapper .container {
  display: flex;
  /*background-color: cadetblue;*/
  padding: 7px 0px;
  justify-content: space-between;
}
.header-wrapper ul{
  margin: 20px 0px;
}
 .header-wrapper #left-section
{
  max-width: 650px;
  width: 100%;
}
.header-wrapper  .container  #left-section,.right-section {
  display: flex;
  justify-content: space-between;
  /*background-color: pink;*/
}
/*.header-wrapper .container .right-section
{
  display: flex;
  justify-content: space-between;
}*/
.header-wrapper .logo-space {
  max-width: 178px;
  cursor: default;
}
ul.menu-list li
{
position: relative;
padding-right:  20px;
margin-right: 30px;
/*background: bisque;*/
}
ul.menu-list li:last-child{
  padding-right: 0px;
  margin-right: 0px;
}
ul.menu-list li.icon a::after{
  content: "";
  padding: 4px;
  display: inline-block;
  position: absolute;
  top: calc( 50% - 12px);
  right: 0;
 /* height: 4px;*/
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
  transition: 0.3s ease-in-out;
}
a {
  text-decoration: none;
  color: #ffffff;
  
  /*text-align: center;*/
  
}

/*.header-wrapper .container .right-section ul.menu-list li{
  /*margin-left: 10px;
  margin-right: 10px;
}*/
.header-wrapper .container .right-section .download{
  background: #64B305;
padding: 10px 21px;
font-weight: bold;

}
 .text_part
{
  color: #ffffff;
  max-width: 381px; 
  width: 100%;
}
.text_part .king-image
{
  width: 48px;
  height: 48px;
}
.text_part .king-image img{
width: 100%;
height: 100%;
}
 .text_part h1{
font-weight: bold;
font-size: 48px;
line-height: 50px;
/* identical to box height, or 104% */
/* Text Shadow 1 */

text-shadow: 0px 8px 8px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.15), 0px 2px 2px rgba(0, 0, 0, 0.15), 0px 1px 1px rgba(0, 0, 0, 0.15);
}
 .text_part h3{
font-weight: bold;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */

letter-spacing: 2px;
text-transform: uppercase;

/* White */

color: #FFFFFF;
opacity: 0.7;
}
.text_part .app-rating{
  margin-block-start: 5px;
}
 .text_part p
{
  font-weight: normal;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
opacity: 0.7;

}
span.bluetick{
  width: 24px;
  height: 24px;
  background-color: #37abff;
  border: 1px solid #37abff;
  border-radius: 14px;
  position: relative;
  display: inline-block;
}
span.bluetick::after {
  content: '';
  display: block;
  width: 8px;
  height: 14px;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  transform: rotate(45deg) ;
  /*position: absolute;
  top: calc(50%-4px);*/
  transition: 0.4s ease-in-out;
  position: absolute;
  left: 8px;
  top: 3px;
}
.text_part p.p1{
  display: inline-flex;
  margin-left: 16px;
  opacity: 1;
  font-size: 12px;
  line-height: 24px;
  background: rgba(0,0,0,.4);
  border-radius: 12px;
/* identical to box height, or 167% */

letter-spacing: 2px;
text-transform: uppercase;

/* White */
mix-blend-mode: normal;
}
.text_part p.p1 .verified-text{
  opacity: 0.7;
  padding: 0px 6px;
}
 .text_part a{
  font-weight: bold;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 156% */
padding: 10px 32px;
margin-top: 24px;
display: flex;
align-items: center;
text-align: center;
max-width: 344px;
width: 100%;
background: #64B305;
}
.text_part p.para{
  margin-top: 16px; 
  opacity: 1;
}
.text_part p.para span{
  text-decoration-line: underline;
   color: #77C4FF;
}
 .text_part ul.logo-list{
  display: flex;
  max-width: 160px;
  padding: 0px 5px;
  margin-top: 30px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
 .last-list ul.list2{
margin-top: 49px;
}
 .last-list ul.list2 li{
  padding: 8px 16px;
}
 .last-list ul.list2 a{
font-weight: 500;
/*font-size: 16px;
line-height: 24px;*/

opacity: 0.8;
}
.last-list ul.list2 a.active
{
  color: #77C4FF;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1.5px solid currentColor;
}
.section1 h2
{
  font-weight: bold;
font-size: 36px;
line-height: 48px;
margin-top: 80px;

color: #28304C;

}
.section1 p{
  margin-top: 40px;
  font-size: 18px;
line-height: 28px;
/* Dark Grey */

color: #556789;
}
.section2
{
  margin-left: 20%;
}
.section2 .games-images
{
  
  display: flex;
justify-content: space-between;
margin-top: 40px;
margin-bottom: 74px;

}
.section2 .games-images li{
position: relative;
}
.section2 .games-images li .play
{
  position: absolute;
  top: 35%;
  left: 40%;
}
/*.section2 .games-images li .right
{
  position: absolute;
  top: 0;
  right: 0;
  color: #ffffff;
  padding: 82px 5px;
  background: linear-gradient(rgba(43, 65, 108,0.6),rgba(43, 65, 108,0.6))  no-repeat;
}*/
.section3
{
   background: #E4EEF5;
}
.section3 .container
{
  padding-bottom: 40px;
}
.section3 .container .text-part{
  border-bottom: 1px solid rgba(156, 162, 183,0.2)
}
.section3 .container h2{
  font-weight: bold;
font-size: 36px;
line-height: 48px;
margin-bottom: 40px;
padding-top: 80px;
/* Storm Blue */

color: #28304C;
}
.section3 h3{
  font-weight: bold;
font-size: 24px;
line-height: 32px;
margin-bottom: 8px;
/* Storm Blue */

color: #28304C;
}
.section3 p{
  font-weight: normal;
font-size: 18px;
line-height: 28px;
/* Dark Grey */
margin-bottom: 40px;
color: #556789;
}
 .button-read-more
{
 /* display: flex;*/
 position: relative;
  font-weight: normal;
font-size: 18px;
line-height: 28px;
background: #E4EEF5;
display: flex;
align-items: center;
text-align: center;
margin: 40px auto ;
padding: 10px  52px 10px 32px;
/* Dark Blue */
border: 2px solid #0082E5;
color: #0082E5;
}
.button-read-more::after{
  content: "";
  padding: 4px;
  display: inline-block;
  position: absolute;
  top: calc( 50% - 7px);
  right: 25px;
 /* height: 4px;*/
  border-bottom: 2px solid #0082E5;
  border-right: 2px solid #0082E5;
  transform: rotate(45deg);
  transition: 0.3s ease-in-out;
  
}
 /*.button-read-more .down
{
  padding-right:  32px; 
  padding-left:  10px;
}*/
.section4
{
  background: #1F2640;

}
.section4  .container h2{
  font-weight: bold;
font-size: 36px;
line-height: 48px;
padding-top: 80px;
margin-bottom: 40px;
/* White */

color: #FFFFFF;
}
.section4 .round-points
{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section4 .round-points .point-items
{
  max-width: 336px;
  width: 100%;
  margin-bottom: 24px;

  /*background-color: aqua;*/
  
}
/*.section4 .round-points .point-items img
{
  position: absolute;
  top: 5%;
}*/
/*.round
{
  border: 1px solid #37A8FF;
  border-radius: 50%;
  color: #ffffff;
  background: #37A8FF;
  padding: 15px;
  font-weight: bold;
font-size: 24px;
line-height: 32px;
margin-right: 5px;
box-shadow: 0px 16px 16px rgba(39, 103, 149, 0.15), 0px 8px 8px rgba(46, 98, 130, 0.15), 0px 4px 4px rgba(46, 98, 130, 0.15);
}*/
.section4 .round-points{
  counter-reset: my-counter;
}
.section4 .round-points li{
  counter-increment: my-counter;
}
.section4 .round-points .point-items p{
  display: inline-flex;
margin-left: 5px;
font-weight: normal;
font-size: 18px;
line-height: 28px;
padding-bottom: 0px;
margin-top: 0px;
/* Lighter Blue */
color: #B0CFE5;
}
.section4 .round-points .point-items p::before{
  content: counter(my-counter);
  margin: 5px;
  color: #fff;
  font-weight: bold;
font-size: 24px;
line-height: 32px;
background: #37A8FF;
/* identical to box height, or 133% */
    border-radius: 50%;
    padding: 8px 17px;
}
.section4 .center
{
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 1072px;
  width:100%;
  background: aqua;
}
.section4 .center img
{
  
  margin-bottom: 24px;
  margin-top: 24px;
}
.section4 .center img.play{
 position: absolute;
 top: 35%;
 left: 48%;
}
.section4 .center h4{
  position: absolute;
  color: #ffffff;
  top: 53%;
  font-size: 12px;
line-height: 20px;
/* identical to box height, or 167% */

text-align: center;
letter-spacing: 2px;
text-transform: uppercase;

}

.section4 p{
font-size: 18px;
line-height: 28px;
/* Lighter Blue */
margin-top: 38px;
padding-bottom: 80px;
padding-right: 5px;
color: #B0CFE5;
}
.section5{
  background: #E4EEF5;
}
.section5 .container h2{
  font-weight: bold;
  font-size: 36px;
line-height: 48px;
padding-top: 80px;
}
.section5 .cont
{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding-bottom: 180px;
  border-bottom: 1px solid rgba(156, 162, 183,0.2);
  /*font-weight: bold;
font-size: 36px;
line-height: 48px;
padding-top: 80px;*/
/* Storm Blue */

color: #28304C;
}
.section5 .bluestacks-features
{
  margin-left: 40px;
  
}
.section5 .bluestacks-features ul{
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  /*background-color:yellowgreen;*/
  border-right: 1px solid rgba(156, 162, 183,0.2);
}
.section5 .bluestacks-features  h3{
  font-weight: bold;
font-size: 24px;
line-height: 32px;
border-right: none;
/* Dark Grey */
color: #556789;
}
.section5 .bluestacks-features ul li{
font-weight: normal;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 156% */
text-align: right;
margin-bottom: 16px;
padding-right: 20px;
/* Dark Grey */
color: #556789;
}
.section5 .bluestacks-features ul li.active
{
  color: #0082E5;
  border-right: 2px solid #0082E5;
}

.section5 .cont .images{
  position: relative;
  /*background-color: brown;*/
max-width: 722px;
width: 100%;
}
.section5 .cont .images .img1{
  position: absolute;
  top: 0;
  left: 2%;
  z-index: 1;
}
.section5 .cont .images .img2{
  position: absolute;
  top: 80%;
  
}
.section5  .images .img3{
position: absolute;
right: 0%;
bottom: -30%;
}
.section6 .top-part{
display: flex;
justify-content: space-between;
margin-top: 56px;
}
.section6 .top-part h2{
  font-weight: bold;
font-size: 36px;
line-height: 48px;

/* Storm Blue */

color: #28304C;
}
.section6 .top-part p{
  font-weight: bold;
font-size: 14px;
line-height: 24px;
align-self: center;
letter-spacing: 2px;
text-transform: uppercase;

/* Dark Blue */

color: #0082E5;
}
.section6 .games
{
  justify-content: space-between;
  margin-top: 35px;
}
.section6 .games .part{
  display: flex;
  margin-bottom: 64px;
  max-width: 337px;
  width: 100%;
  box-shadow: 2px 2px 3px #aaaaaa;
}
.section6 .games .part figure{
  width: 136px;
  height: 136px;
}
.section6 .games .part figure img{
  width: 100%;
  height: 100%;
}
.section6 .games .part .card
{
  display: inline;
  margin-left: 24px;
}
.section6 .games .part .card h3{
  margin-top: 20px;
  font-weight: 500;
font-size: 16px;
line-height: 24px;
/* Storm Blue */

color: #28304C;
}

.section6 .games .part .card p{
font-weight: normal;
font-size: 14px;
line-height: 24px;
/* Black 0.6 */
color: rgba(0, 0, 0, 0.6);
}
.section7{
  background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(./assets/image/Components/Background_Image.png) center bottom no-repeat;
  background-size: cover;
}
.section7 .container{
  padding: 56px 0px;
  display: flex;
  justify-content: space-between;
  

}
.section7 h1{
  max-width: 700px;
  width: 100%;
font-weight: bold;
font-size: 48px;
line-height: 50px;
color: #FFFFFF;

}
.section7 button{
  margin: auto 0px;
  padding: 10px 32px;
  font-weight: bold;
font-size: 18px;
line-height: 28px;
color: #ffffff;
background: #64B305;
border: none;
}
.section8
{
  background: #1F2640;
  color: #FFFFFF;
}
.section8 .last1{
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
  padding-bottom: 26px;
}
.section8 .container ul{
  display: flex;
  flex-direction: column;
}
.section8 .container ul.ul1{
  flex-direction: row;
  max-width: 120px;
  width: 100%;
  justify-content: space-between;
}
.section8 .container h3{
font-weight: bold;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */
letter-spacing: 2px;
text-transform: uppercase;
opacity: 0.85;
}
.section8 .container li,p{
font-weight: normal;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */

/* Light Grey */

color: rgba(241, 241, 244,0.7);
}
.section8 .container li.active{
  text-decoration-line: underline;
color: #FFFFFF;
opacity: 0.85;

}
.section8 .container .last2{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding-bottom: 45px;
}
.section8 .container .last2 a{
  width: 48px;
  height: 48px;
  background-color: #37abff;
  border: 1px solid #37abff;
  border-radius: 50%;
  position: relative;
  display: inline-block;
}
.section8 .container .last2 a::after{
  content: "";
  padding: 5px;
  display: inline-block;
  position: absolute;
  top: calc( 50% - 5px);
  left: calc(50% - 7px);
 /* height: 4px;*/
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  transform: rotate(45deg);
  transition: 0.3s ease-in-out;
}